[Desktop Entry]
Name=RustRover 2025.2.2
Exec="/home/marc/.local/share/JetBrains/Toolbox/apps/rustrover/bin/rustrover" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/marc/.local/share/JetBrains/Toolbox/apps/rustrover/bin/rustrover.png
Comment=A powerful IDE for Rust
StartupWMClass=jetbrains-rustrover
StartupNotify=true
