[Desktop Entry]
Version=1.0
Name=Yaak
Comment=Yaak
Exec=~/.appimage/yaak.AppImage
Terminal=false
Type=Application
Icon=/home/marc/.local/share/applications/icons/yaak.png
StartupNotify=false
