[submodule "nvim"]
	path = nvim
	url = git@github.com:Marc-AnthonyG/nvim.git
	branch = master
[submodule "alacritty/alacritty/catppuccin"]
	path = alacritty/alacritty/catppuccin
	url = git@github.com:catppuccin/alacritty.git
[submodule "alacritty/catppuccin"]
	path = alacritty/catppuccin
	url = git@github.com:catppuccin/alacritty.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
