" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
let mapleader=" "

""" Common settings -------------------------
set relativenumber

" allow copied
set clipboard=unnamedplus

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
set which-key
set timeoutlen=5000

"" -- map ide actions to ideavim -- https://jb.gg/abva4t
" equivalent to telescope
"map <leader><leader> <Action>(gotodeclaration)
nnoremap <leader>r :action renameelement<cr>
"nnoremap <leader>/ :action find<cr>
"nnoremap <leader>sg :action findinpath<cr>

" equivalent to lsp config
"nnoremap gd :action gotodeclaration<cr>
"nnoremap gr :action findusages<cr>
"nnoremap gi :action gotoimplementation<cr>
"nnoremap <leader>d :action gototypedeclaration<cr>
"nnoremap <leader>ds :action filestructurepopup<cr>
"nnoremap <leader>f :action reformatcode<cr>
