" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
let mapleader=" "

""" Common settings -------------------------
set relativenumber

" allow copied
set clipboard=unnamedplus

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
set which-key
set timeoutlen=3000

"" -- map ide actions to ideavim -- https://jb.gg/abva4t
" equivalent to telescope
map <leader><leader> <Action>(GotoFile)
map <leader>r <Action>(RenameElement)
map <leader>/ <Action>(Find)
map <leader>sg <Action>(FindInPath)
map <leader>ca <Action>(ShowIntentionActions)
map <leader>aa <Action>(GotoAction)

"equivalent to lsp config
map gd <Action>(GotoDeclarationOnly)
map gr <Action>(GotoDeclarationOnly)
map gi <Action>(GotoImplementation)
map <leader>d <Action>(GotoTypeDeclaration)
map <leader>f <Action>(ReformatCode)
set clipboard^=ideaput